@media screen and (max-width: 1920px) {
  .container {
    max-width: 1320px;
  }
}


@media screen and (max-width: 1440px) {
  .container {
    max-width: 1320px;
  }

  .flex-start {
    flex-wrap: wrap;
  }

  .card-image {
    min-height: 300px;
    height: 60%;
  }

  .card img {
    height: 100%;
  }
}


@media screen and (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}


@media screen and (max-width: 1024px) {
  .container {
    max-width: 960px;
  }

  .card-wrapper {
    width: 48%;
  }

  .card-host {
    padding: 12px 24px;
  }
}


@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .card-host {
    padding: 8px 16px;
  }
}


@media screen and (max-width: 576px) {
  .container {
    max-width: 540px;
  }

  .card-wrapper {
    width: 100%;
  }
}


@media screen and (max-width: 425px) {
  /* your code */
}


@media screen and (max-width: 375px) {
  /* your code */
}


@media screen and (max-width: 320px) {
  /* your code */
}